@charset "UTF-8";

/* 回答はここに書いてね */

.q10_text {
  margin: 0 auto;
  border: 5px solid #222;
  padding: 20px;
  width: 500px;
  border-radius: 30px;
  position: relative;
}

.q10_text::before, .q10_text::after {
  content: "";
  position: absolute;
  right: 0;
  left: 30px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
  border-width: 20px 20px 0 20px;
}

.q10_text::before {
  bottom: -25px;
}

.q10_text::after {
  bottom: -18px;
  border-top: 20px solid #fff;
}
/* 回答はここに書いてね */
