@charset "UTF-8";

/* 回答はここに書いてね */

.q10_text {
  margin: 0 auto;
  border: 5px solid #222;
  padding: 20px;
  width: 500px;
  border-radius: 30px;
  position: relative;
}

.q10_text::before, .q10_text::after {
  content: "";
  position: absolute;
  border: solid 20px transparent;
}

.q10_text::before {
  left: 30px;
  bottom: -45px;
  border-top-color: #222;
}

.q10_text::after {
  left: 30px;
  bottom: -38px;
  border-top-color: #fff;
}
/* 回答はここに書いてね */
