@charset "UTF-8";

/* 回答はここに書いてね */

.q6_text {
  text-align: center;
}

.q6_text_align {
  background-color: #e6f2ff;
  width: 90px;
  padding: 10px 0;
  display: inline-block;
}


.q6_margin {
  background-color: #e6f2ff;
  width: 90px;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
}

.q6_table_wrap {
  display: table;
}

.q6_table_box {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.q6_table {
  background-color: #fff;
  padding: 10px;
  display:inline-block;
}

.q6.q6_flex_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.q6_flex {
  background-color: #fff;
  padding: 10px;
}

.q6_stable_wrap {
  position: relative;
}

.q6_stable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.q6_flexible_wrap {
  position: relative;
}

.q6_flexible {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 回答はここに書いてね */
